.ButtonDiv {
    float: right;
    margin-bottom: 1rem;
    font-size: 2rem;
    background-color: #FFFFFF;
  }

  .button {
    margin-bottom: 1rem;
    font-size: 2rem;
    background-color: #FFFFFF;
  }

  .button:hover {
    color: #FFFF00;
    opacity: 0.75;
  }

  .buttonTitle {
    margin: 2rem;
  }