.HeaderDiv {
    background-color: #FFFFFF;
      color: #006837;
      padding: 0rem;
      margin: 0.5rem;
  }

  .navbar {
    max-height: 100px;
  }

p {
  font-size: 1.2rem;
  color: #006837;
}


